.header {
    width: 100%;
    height: 50px;
    background-color: greenyellow;
    position:relative;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #888888;
}
.content{
    height: 80%;
    position:relative;
    /*background-color: yellow;*/
    margin: 0 auto;
    overflow:auto;
}

.menu{
    height: 80%;
    position:relative;
    width:200px;
    background-color: springgreen;
    float:left;
}
.left{
    height: 80%;
    position:relative;
    width:100px;
    background-color: #947ea5;
    float:left;
}
.footer {
    width: 100%;
    height: 50px;
    background-color: mediumspringgreen;
    border-radius: 3px;
    position:relative;
    box-shadow: 10px 10px 5px #888888;
}
.right {
    height: 80%;
    position:relative;
    width:150px;
    background-color: black;
    float:right;
}

#popup-wrapper {
    display: none;
}


.easy-modal,
.easy-modal-animated {
    width: 600px;
    padding: 2em;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    background-color: white;
}
